@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

.orange{color: #F47522;}
.index-title{
    color: #19345e;
    font-size: 45px;
    font-family: "Muli", sans-serif;
    font-weight: bold;
    text-align: center;
}
.blue{color: #19345e;}
.index-sub-title{
    font-size: 17px;
    font-family: "Muli", sans-serif;
    font-weight: bold;
    text-align: center;
}

/* bagian header */
header img{
    width: 110px;
    height: 59px;
}
header{
    background-color: white;
    box-shadow: 0 0 6px 0 #C1C3C736;
    /* position: fixed; */
    width: 100%;
    /* position: fixed;
    z-index: 99999; */
}
.navbar-nav li .aktif{color: #F47522;}
.navbar-nav li a{
    font-size: 15px;
    color: #19345e;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
}
.navbar-nav li a:hover{
    font-size: 15px;
    color: #F47522;
    font-weight: bold;
    transition: all 0.5s;
}
.button-contact{
    color: #F47522;
    font-family: "Muli", sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-style: solid;
    border-color: #F47522;
    background-color: white;
    border-width: 2px;
    border-radius: 20px;
    padding: 10px 37px;
}
.button-contact:hover{
    color: white;
    background-color: #F47522;
    transition: all 0.5s;
    text-decoration: none;
}

/* bagian home section 1*/
.section-home{
    background-color: #EDF6FF;
}
.section-home h1, .section-home p{
    color: #19345e;
    font-weight: bold;
    font-family: "Muli", sans-serif;
}
.section-home h2{
    color: #19345e;
    font-weight: bold;
    display: inline-block;
    font-family: "Roboto", sans-serif;
}
.section-home h3{
    color: #F47522;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}
.team, .team-hover{
    width: 20px;
    height: 20px;
}
.section-home a{
    background-color: #F47522;
    color: white;
    font-weight: bold;
    padding: 11px 32px;
    border-radius: 20px;
}
.team-hover{display: none;}
.section-home a:hover{
    background-color: white;
    border-color: #F47522;
    border-style: solid;
    border-width: 2px;
    color: #F47522;
    text-decoration: none;
}
.section-home a:hover .team-hover{display: inline;}
.section-home a:hover .team{display: none;}
.box{
    background-color: white;
    border-radius: 75px;
    box-shadow: 0 3px 6px #00000029;
    width: 814px;
    height: 110px;
    /* padding: 33px 93px; */
}
.logo-section1{
    background-color: #F47522;
    border-radius: 100%;
    padding: 5px;
}
.section1-roboto{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #19345e;
}
.section1-muli{
    font-family: "Muli", sans-serif;
    font-size: 14px;
    color: #19345e;
}

/* bagian home section 2 */
.home-section2 img{
    width: 100%;
    height: 100%;
}
.home-section2{
    position: relative;
    text-align: center;
    color: white;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Muli", sans-serif;
    font-weight: bold;
}

/* bagian home section 3 */
.home-section3 img{
    width: 225px;
    height: 265px;
    display: block;
}
.img-border{
    display: inline-block;
    position: relative;
}
.img-border::before{
    position: absolute;
    bottom: -6%;
    left: -6%;
    width: 225px;
    height: 265px;
    border: 10px solid #F47522;
    content: '';
}
.img-border:hover{
    -webkit-box-shadow: 0 7px 5px 0 #19345E8E;
    -moz-box-shadow: 0 7px 5px 0 #19345E8E;
    box-shadow: 0 7px 5px 0 #19345E8E;
}
.img-teks{
    display: inline-block;
    position: relative;
}
.img-teks:hover{
    top: -15px;
}
.img-teks:hover .img-border::before{border-color: #19345e;}
.nama{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
.jabatan{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

/* Bagian home section 4 */
.home-section4 img{
    width: 285px;
    height: auto;
}
.home-title-article{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.editor-tgl{
    font-family: "Poppins", sans-serif;
    font-family: 14px;
    color: #707070;
}
.isi{
    font-family: "Poppins", sans-serif;
    font-family: 14px;
    text-align: left;
}
.read-more{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}
.read-more:hover{color: #F47522;}

/* bagian blog */
.page-blog img{
    width: 100%;
    height: 100%;
}
.page-blog{
    font-family: "Muli", sans-serif;
    color: #19345e;
}
.title-blog{
    font-size: 50px;
    font-weight: bold;
    padding-top: 5%;
}
.date{
    font-weight: bold;
    font-size: 20px;
    padding-top: 4%;
}
.article-blog{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding-top: 6.5%;
}
@media (max-width: 767px) {
    .index-title{font-size: 30px;}
    .title-blog{font-size: 34px;}
    .date{font-size: 14px;}
    .article-blog{font-size: 10px;}
}

/* FOR SECTION PAGE 2 ONLY */
.profpict {
    width: 320px;
    height: 399px;
}
.img-border-page-2{
    display: inline-block;
    position: relative;
}
.img-border-page-2::before{
    position: absolute;
    bottom: -6%;
    left: -6%;
    width: 320px;
    height: 399px;
    border: 10px solid #F47522;
    content: '';
}
.biodata {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: #19345e;
}
.institution-name {
    font-weight: bold;
}
.i-con-tact {
    width: 15px;
    height: 15px;
}
.soc-prof {
    width: 25px;
    height: 25px;
}

.date-icon {
    width: 14px;
    height: 14px;
}
.team-jabatan{
    font-size: 30px;
    font-family: "Muli", sans-serif;
    font-weight: bold;
}
.edu-section ul li,
.exp-section ul li{
    font-size: 14px;
    color: #19345e;
    font-family: "Poppins", sans-serif;
}
.edu-section h2,
.exp-section h2{
    font-size: 25px;
    font-family: "Muli", sans-serif;
    font-weight: bold;
    color: #19345e;
}

/* Page 4 - Contact */

.sendmail {
    background-color: #F47522;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 11px 32px;
}
.mail-hover {
    display: none;
}

.sendmail:hover {
    background-color: white;
    border-color: #F47522;
    border-style: solid;
    border-width: 2px;
    color: #F47522;
    text-decoration: none;
}

.sendmail:hover .mail-hover {
    display: inline;
}

.sendmail:hover .mail {
    display: none;
}

.mail, .mail-hover {
    width: 20px;
    height: 20px;
}

.input1 {
    width: 100%;
    height: auto;
}

.input2 {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

/* FOR FOOTER SECTION ONLY */

footer {
    background-color: #19345e;
    opacity: 1;
}

.alterra-insignia {
    width: 140px;
    display: block;
    margin-left: auto;
    margin-bottom: 50px;
    margin-right: auto;
}

.navbar-list ul li {
    text-align: center;
    list-style-type: none;
    display: inline;
    margin-right: 15px;
}

.socmedtxt {
    font-family: ;
    font-size: 14px;
    color: white;
}

.copyrighttxt {
    font-family: ;
    font-size: 14px;
    color: white;
}

.socmedicon {
    width: 20px;
    height: 20px;
}