@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

/* bagian header */
header img{
    width: 110px;
    height: 59px;
}
header{
    background-color: white;
    box-shadow: 0 0 6px 0 #C1C3C736;
    /* position: fixed; */
    width: 100%;
    /* position: fixed;
    z-index: 99999; */
}
.navbar-nav li .aktif{color: #F47522;}
.navbar-nav li a{
    font-size: 15px;
    color: #19345e;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
}
.navbar-nav li a:hover{
    font-size: 15px;
    color: #F47522;
    font-weight: bold;
    transition: all 0.5s;
}
.button-contact{
    color: #F47522;
    font-family: "Muli", sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-style: solid;
    border-color: #F47522;
    background-color: white;
    border-width: 2px;
    border-radius: 20px;
    padding: 10px 37px;
}
.button-contact:hover{
    color: white;
    background-color: #F47522;
    transition: all 0.5s;
    text-decoration: none;
}

/* bagian home section 1*/
.section-home{
    background-color: #EDF6FF;
}
.section-home h1, .section-home p{
    color: #19345e;
    font-weight: bold;
    font-family: "Muli", sans-serif;
}
.section-home h2{
    color: #19345e;
    font-weight: bold;
    display: inline-block;
    font-family: "Roboto", sans-serif;
}
.section-home h3{
    color: #F47522;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}
.team{
    width: 20px;
    height: 20px;
}
.team-hover{
    width: 20px;
    height: 20px;
}
.section-home a{
    background-color: #F47522;
    color: white;
    font-weight: bold;
    padding: 11px 32px;
    border-radius: 20px;
}
.team-hover{display: none;}
.section-home a:hover{
    background-color: white;
    border-color: #F47522;
    border-style: solid;
    border-width: 2px;
    color: #F47522;
    font-weight: bold;
    text-decoration: none;
}
.section-home a:hover .team-hover{display: inline;}
.section-home a:hover .team{display: none;}
.box{
    background-color: white;
    border-radius: 75px;
    box-shadow: 0 3px 6px #00000029;
    width: 814px;
    height: 110px;
    /* padding: 33px 93px; */
}
.logo-section1{
    background-color: #F47522;
    border-radius: 100%;
    padding: 5px;
}
.section1-roboto{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #19345e;
}
.section1-muli{
    font-family: "Muli", sans-serif;
    font-size: 14px;
    color: #19345e;
}

/* bagian home section 2 */
.home-section2 img{
    width: 100%;
    height: 100%;
}
.home-section2{
    position: relative;
    text-align: center;
    color: white;
}
.about{
    color: #19345e;
    font-size: 45px;
    font-family: "Muli", sans-serif;
    font-weight: bold;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Muli", sans-serif;
    font-weight: bold;
}

/* bagian blog */
.page-blog img{
    width: 100%;
    height: 100%;
}
.page-blog{
    font-family: "Muli", sans-serif;
    color: #19345e;
}
.blog{
    font-size: 45px;
    text-align: center;
    margin-bottom: 5%;
    font-weight: bold;
    padding-top: 6%;
}
.title{
    font-size: 50px;
    font-weight: bold;
    padding-top: 5%;
}
.date{
    font-weight: bold;
    font-size: 20px;
    padding-top: 4%;
}
.article-blog{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding-top: 6.5%;
}
@media (max-width: 767px) {
    .blog{font-size: 30px;}
    .title{font-size: 34px;}
    .date{font-size: 14px;}
    .article-blog{font-size: 10px;}
}

/* FOR SECTION PAGE 2 ONLY */
.mainBracket {
    margin-top: 90px;
    margin-left: 0px;
    width: 1233px;
    height: 743px;
    opacity: 1;
}

.jobTitle {
    margin-top: 291px;
    margin-left: 160px;
    height: 914px;
    text-align: left;
    font: bold 30px/12px Muli;
    letter-spacing: 0;
    color: #19345e;
    opacity: 1;
}

.profpict {
    width: 320px;
    height: 399px;
}

.biodata {
    font-family: 'Poppins';
}

.institution-name {
    font-weight: bold;
}

.date-icon {
    width: 14px;
    height: 14px;
}

#teampict {
    width: 320px;
    height: 399px;
    margin-top: 360px;
    margin-left: 190px;
}

/* FOR FOOTER SECTION ONLY */

footer {
    background-color: #19345e;
    opacity: 1;
}

.alterra-insignia {
    width: 140px;
    display: block;
    margin-left: auto;
    margin-bottom: 50px;
    margin-right: auto;
}

.navbar-list ul li {
    text-align: center;
    list-style-type: none;
    display: inline;
    margin-right: 15px;
}

.socmedtxt {
    font-family: ;
    font-size: 14px;
    color: white;
}

.copyrighttxt {
    font-family: ;
    font-size: 14px;
    color: white;
}

.socmedicon {
    width: 20px;
    height: 20px;
}